<form method="POST" class="form-group" onsubmit="return checkinput()" action=""> {% csrf_token %}

  <h2> Personal Information </h2><br><br>

  <!-- First Name -->
  <div class="form-group row">
    <label class="col-xs-2 col-form-label">First Name</label>
    <div class="col-xs-10">
      <input class="form-control" name="first_name" type="text" value="{{current_detail.first_name}}">
    </div>
  </div>

  <!-- Last Name -->
  <div class="form-group row">
    <label class="col-xs-2 col-form-label">Last Name</label>
    <div class="col-xs-10">
      <input class="form-control" name="last_name" type="text" value="{{current_detail.last_name}}">
    </div>
  </div>

  <!-- Gender -->
  <div class="form-group row">
    <label class="col-xs-2 col-form-label">Gender</label>
    <div class="col-xs-5">
      <input type="radio" name="user_gender" value="male" {{male}}/> Male
    </div>
    <div class="col-xs-5">
      <input type="radio" name="user_gender" value="female" {{female}}> Female
    </div>
  </div>

  <!-- Age -->
  <div class="form-group row">
    <label class="col-xs-2 col-form-label">Age</label>
    <div class="col-xs-10">
      <input class="form-control" name="age" type="text" value="{{current_detail.age}}">
    </div>
  </div>

  <!-- Weight -->
  <div class="form-group row">
    <label class="col-xs-2 col-form-label">Weight</label>
    <div class="col-xs-10">
      <input class="form-control" name="weight" type="text" value="{{current_detail.weight}}">
    </div>
  </div>

  <!-- Height -->
  <div class="form-group row">
    <label class="col-xs-2 col-form-label">Height</label>
    <div class="col-xs-10">
      <input class="form-control" name="height" type="text" value="{{current_detail.height}}">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-xs-2 col-form-label">Blood pressure systolic</label>
    <div class="col-xs-10">
      <input class="form-control"  name="blood_pressure_systolic" type="text" value="{{current_detail.blood_pressure_systolic}}">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-xs-2 col-form-label">Blood pressure diastolics</label>
    <div class="col-xs-10">
      <input class="form-control" name="blood_pressure_diastolic" type="text" value="{{current_detail.blood_pressure_diastolic}}">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-xs-2 col-form-label">Body fat percentage&nbsp;%</label>
    <div class="col-xs-10">
      <input class="form-control" name="body_fat_percentage" type="text" value="{{current_detail.body_fat_percentage}}">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-xs-2 col-form-label">Althele</label>
    <div class="col-xs-5">
      <input type="radio" name="athlete" value="TRUE" {{athlete}}> Yes
    </div>
    <div class="col-xs-5">
      <input type="radio" name="athlete" value="FALSE" {{notAthlete}}/> No
    </div>
  </div>

  <div class="form-group row">
    <label class="col-xs-2 col-form-label">Heart Disease</label>
    <div class="col-xs-5">
      <input type="radio" name="heart_disease" value="TRUE" {{heartDisease}}> Yes
    </div>
    <div class="col-xs-5">
      <input type="radio" name="heart_disease" value="FALSE" {{notHeartDisease}}> No
    </div>
  </div>

  <div class="form-group row">
    <label class="col-xs-2 col-form-label">Smoking or not?</label>
    <div class="col-xs-5">
      <input type="radio" name="smoking" value="TRUE" {{smoke}}/> Yes
    </div>
    <div class="col-xs-5">
      <input type="radio" name="smoking" value="FALSE" {{notSmoke}}> No
    </div>
  </div>

  <div class="form-group row">
    <label class="col-xs-2 col-form-label">Medical Implant</label>
    <div class="col-xs-5">
      <input type="radio" name="medical_implant" value="TRUE" {{medicalImplant}}/> Yes
    </div>
    <div class="col-xs-5">
      <input type="radio" name="medical_implant" value="FALSE" {{notMedicalImplant}}/> No
    </div>
  </div>

  <button type="submit" name="submit" value="personal"> Change </button>
</form>  <!-- form group check input -->
